<h1>ADD A NEW TASK</h1>
<form  id="eventform" action="/events" method="POST">
   <label for="title">Title</label>
   <select name="title">
       <option>Pet boarding</option>
       <option>House sitting</option>
       <option>Day care</option>
       <option>Drop-in visit</option>
       <option>Dog walking</option>
   </select><br>

   <label for="selectedPet">Pet</label>
   <select name="selectedPet">
    {{#each pets}}
      <option>{{ this.petName }} </option>
    {{/each}}
      <option>All</option>
   </select><br>

    <label for="description">Description</label>
    <input type="textarea" name="description" placeholder="Describe your event" required><br>

    <label for="location">Location</label>
    <input type="text" name="location" placeholder="Location" required><br>

    <label for="startdate">Start date</label>
    <input type="date" name="initialDateTime" placeholder="Starts" required><br>

    <label for="enddate">End date</label>
    <input type="date" name="finalDateTime" placeholder="Ends" required><br>

    <button type="submit">ADD TASK</button>

</form>