@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
//font-family: 'Quicksand', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
//font-family: 'Raleway', sans-serif;
@import 'normalize';

// Layout

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 28px 'Raleway', sans-serif;
  margin: 0 auto;
  background-color: #f3f3f3;
}

.main-container {
  padding: 0 15px 75px 15px;
  max-width: 540px;
  width: 100%;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  color: #2c6ea5;
  font-weight: bolder;
  text-align: center;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  color: red;
  font-size: 2rem;
  font-weight: lighter;
}

h3 {
  text-align: center;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
}

p {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: left;
  font-size: 1.2rem;
  font-weight: lighter;
}

ul {
  list-style-type: none;
}

.subtitle {
  margin-top: -20px;
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

// Header & Nav bar

header {
  max-width: 540px;
  width: 100%;
  padding-top: 15px;
  background-color: #ffffff;

  div {
    float: left;
    padding: 0 0 0.2em;
  }

  a {
    color: #222;
    text-decoration: none;
  }

  ul,
  li {
    list-style: outside none none;
  }

  div#logo img {
    height: 40px;
    margin-left: 0.5em;
  }
}

.control-menu {
  background-color: transparent;
  background-position: center center;
  display: block;
  float: right;
  height: 40px;
  margin-right: 0.5em;
  width: 40px;

  a span {
    display: inline-block;
    height: 40px;
    text-indent: -9999px;
    width: 40px;
  }

  .close {
    background-image: url('../images/close.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: none;
  }

  .open {
    background-image: url('../images/open.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
  }
}

#navigation:target ul.nav-items {
  font-family: 'Raleway', Arial, sans-serif;
  background: #f0f0f0 none repeat scroll 0 0;
  height: 15.8em;
  transition: height 0.4s ease-in-out 0s, background-color 0.9s ease 0s;
}

.close {
  display: none;
}

#navigation:target .open {
  display: none;
}

#navigation:target .close {
  display: block;
}

ul.nav-items {
  clear: both;
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease-in-out 0s, background-color 2s ease 0s;

  li {
    display: block;
  }

  a {
    border-top: 2px dotted #dddbdb;
    color: #333;
    display: block;
    height: 3em;
    line-height: 3em;
    margin: 0 1.3em;
  }

  li:first-child a {
    border-top: 2px solid transparent;
  }

  li a span {
    border-left: 3px solid;
    height: 3.2em;
    padding: 0.4em 0.5em;
    border-color: #f44336;
  }
}

// Footer

footer {
  position: fixed;
  bottom: 0;
  max-width: 540px;
  width: 100%;
  padding: 10px;
  height: 60px;
  background: #5592c3;
}

.footer-icons {
  float: left;

  div {
    display: inline-block;
    padding: 5px;

    img {
      height: 35px;
    }
  }
}

.about {
  float: right;
  margin-right: 0.6em;

  a,
  a:visited {
    color: white;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
  }
}

// General

.bottom-img {
  display: block;
  margin: auto;
  max-width: 320px;
}

.two-divs-inline {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  margin-left: -20px;
  padding: 20px;

  div {
    align-items: center;

    button {
      min-width: 100px;
    }
  }
}

// Buttons

button {
  border: none;
  background-color: #5592c3;
  border: 1px solid #5592c3;
  border-radius: 15px;
  padding: 4% 3%;
  color: white;
  font-size: 1.2rem;
  margin: 3% 30%;

  a {
    text-decoration: none;
    color: white;
  }
}
.conteiner-two-wrap {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.btn-block {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.button-blue {
  text-align: center;
  width: 35%;
  font-size: 15px;
  font-weight: 700;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #5592c3;
  padding: 10px;
  border-radius: 20px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.button-blue:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.button-blue-little {
  text-align: center;
  width: 20%;
  font-size: 15px;
  font-weight: 700;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #5592c3;
  padding: 8px;
  border-radius: 20px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  margin: 0;
}

.button-blue-little:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
.button-grey {
  text-align: center;
  width: 35%;
  font-size: 15px;
  font-weight: 700;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #999999;
  padding: 10px;
  border-radius: 20px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.button-grey:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.button-red {
  text-align: center;
  width: 25%;
  font-size: 15px;
  font-weight: 700;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #f44336;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 20px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.button-red:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.button-grey-large {
  text-align: center;
  width: 70%;
  font-size: 15px;
  font-weight: 700;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #999999;
  padding: 10px;
  border-radius: 20px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.button-grey-large:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.button-blue-large {
  text-align: center;
  width: 70%;
  font-size: 15px;
  font-weight: 700;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #5592c3;
  padding: 10px;
  border-radius: 20px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.button-blue-large:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.centred-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.little-button-edit-profile {
  width: 100%;
  padding: 0 0% 0 18%;
}

// Messages

.error,
.info {
  margin-bottom: 4%;
}
.errorMessages {
  color: red;
  font-weight: bolder;
}

.warningMessages {
  color: green;
}

.infoMessages .currentUser {
  color: black;
}

.currentUser {
  font-weight: bolder;
}

.successMessages {
  color: navy;
}

.dangerMessages {
  color: violet;
}

// Home page

.home-container {
  display: flex;
  flex-direction: column;
}

.home-event-finder {
  width: 100%;
  background-image: url('../images/top_img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-title-event-finder {
  margin: 52% 20% 2% 20%;
  h2 {
    text-align: center;
  }
}

.home-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40%;

  input {
    background-color: #f3f3f3;
    border: 1px solid #000000;
    border-radius: 30px;
    margin: 0 22%;
    padding: 1%;
  }
}

.home-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4%;
  background-color: #ffffff;
}

.home-title-services {
  h2 {
    text-align: center;
  }
  margin-bottom: 2%;
}

.home-list-services {
  width: 100%;

  .text-service {
    width: 100%;
  }
}

.home-list-services-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.home-icon {
  width: 8%;

  img {
    width: 100%;
  }
}

.home-text-service {
  width: 100%;
  padding-left: 4%;
  margin-bottom: 5%;
  h3 {
    text-align: left;
    color: #5592c3;
  }
}

.home-how-does-it-work {
  width: 100%;
  background-color: #5592c3;
  border-bottom: 1px solid #5592c3;
  p {
    color: #ffffff;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-hiw-title {
  text-align: center;
  margin-top: 2%;
  h2 {
    color: white;
  }
}

.home-offer-text-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  p {
    padding: 4%;
  }
}

.home-number-hiw {
  border: 1px solid #000000;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 5% 3% 5% 5%;
  padding: 1% 2%;
  font-size: 1rem;
  text-align: center;
}

.home-testimonials {
  margin-top: -2px;
  background: linear-gradient(#5592c3, #ffffff);
  border-top: 1px solid #5592c3;
}

.home-testimonial-title {
  h2 {
    color: #ffffff;
    text-align: center;
    margin: 2% 0 4% 0;
  }
}

.testimonials-text {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 10%;
  p {
    text-align: center;
    margin: 3% auto;
    font-style: italic;
    font-size: 1.3rem;
  }

  #star {
    font-style: normal;
  }
}

.home-joinus {
  width: 100%;
  background-color: #ffffff;

  h2 {
    margin-top: 8%;
    text-align: center;
  }

  .home-button {
    padding-bottom: 0;
  }
}

// Events pages

.events {
  list-style-type: none;

  h2 {
    text-align: center;
    font-weight: bolder;
  }

  h3 {
    color: #2c6ea5;
    // color: red;
    text-align: left;
    font-size: 1.6rem;
    font-weight: bolder;
  }

  a {
    font-family: 'Quicksand', sans-serif;
  }

  li {
    padding-bottom: 40px;
  }
}

#no-task {
  text-align: center;
}

.event-info {
  padding-bottom: 20px;
}

.event-form {
  button {
    margin-top: 30px;
  }
}

.events-btns-inline {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  margin-left: -20px;
  padding: 0 20px;

  div {
    width: 50%;
    align-items: center;

    button {
      min-width: 100px;
    }
  }
}

.candidates {
  width: 100% +20px;
  margin-left: -20px;
  padding: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.left {
  width: 10%;
}

.middle {
  width: 25%;
  align-items: center;
  display: flex;
  justify-content: center;

  img {
    width: 60px;
    height: 60px;
  }
}

.middle2 {
  width: 45%;
  padding-left: 5px;

  p {
    font-size: 1rem;
  }
}

.right {
  width: 20%;
  padding-right: 10px;

  button {
    font-size: 0.7rem;
    width: 70px;
  }
}

.review {
  display: inline-flex;
  width: 100%;
  padding: 20px 0 0 0;
}

#title {
  width: 60%;
}

#review-icon {
  width: 15%;

  img {
    width: 40px;
    cursor: pointer;
  }
}

#write-review {
  width: 25%;

  a {
    text-decoration: none;
    font-size: 0.9rem;
    color: black;
  }
}

#event-data {
  width: 120%;
}

#keeper-selected {
  font-size: 0.8rem;
}

#me,
#add-pet-warning {
  color: red;
}

#add-pet-in-event {
  margin-top: 0;
}

#bird {
  margin-top: 10px;
  height: 150px;
}

// Set up & Log in

.auth {
  padding-top: 50px;
}

// Error pages 404 & 500

.error-500-404 {
  padding-top: 10px;
  display: block;
  margin: auto;
  height: 400px;
}

.errors {
  text-align: center;

  h1 {
    font-size: 90px;
  }
  p {
    font-size: 25px;
    text-align: center;
  }
}

// Pets view

.container-view {
  background-color: #f3f3f3;
  padding: 0 10px;
  a {
    text-decoration: none;
  }
}

.input-font {
  font-size: 1.3rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  width: 13.5em;
}

.input-container {
  padding: 10px;
}

.pets-container {
  display: flex;
  width: 100%;
}

.img-rounded {
  border-radius: 50%;
  width: 140px;
  height: 140px;
}

.image-wrap-center {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.width-50 {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.list-center {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-wrap {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  p {
    font-size: 1.3rem;
    font-weight: 600;
  }
}

.large-btn-wrap {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.conteiner-two-wrap-center {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.pet-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  p {
    font-size: 1.3rem;
  }
}

.font-bold {
  font-weight: 600;
}

.form-group-userphoto {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  input,
  label[for='file'] {
    margin: 5% auto;
  }
  position: relative;
}

input[type='file']#userupload {
  width: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
