@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
//font-family: 'Quicksand', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
//font-family: 'Raleway', sans-serif;

// Layout

* {
  margin: 0;
  padding: 0;
}

body {
  font: 28px 'Raleway', sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
  border-left: 2px solid;
  border-right: 2px solid;
  border-color: #dddbdb;
}

.main-container {
  padding: 10px;
  min-height: 900px;
  background-color: #f3f3f3;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  color: #2c6ea5;
  font-weight: bolder;
  text-align: center;
  padding-top: 10px;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  color: red;
  font-size: 2rem;
  font-weight: lighter;
}

h3 {
  text-align: center;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
}

p {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: left;
  font-size: 1rem;
  font-weight: lighter;
}

.subtitle {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

// Header & Nav bar

header {
  padding-top: 15px;
  background-color: #ffffff;

  div {
    float: left;
    padding: 0 0 0.2em;
  }

  a {
    color: #222;
    text-decoration: none;
  }

  ul,
  li {
    list-style: outside none none;
  }

  div#logo img {
    height: 40px;
    margin-left: 0.5em;
  }
}

.control-menu {
  background-color: transparent;
  background-position: center center;
  display: block;
  float: right;
  height: 40px;
  margin-right: 0.5em;
  width: 40px;

  a span {
    display: inline-block;
    height: 40px;
    text-indent: -9999px;
    width: 40px;
  }

  .close {
    background-image: url('../images/close.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: none;
  }

  .open {
    background-image: url('../images/open.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
  }
}

#navigation:target ul.nav-items {
  font-family: 'Raleway', Arial, sans-serif;
  background: #f0f0f0 none repeat scroll 0 0;
  height: 15.8em;
  transition: height 0.4s ease-in-out 0s, background-color 0.9s ease 0s;
}

.close {
  display: none;
}

#navigation:target .open {
  display: none;
}

#navigation:target .close {
  display: block;
}

ul.nav-items {
  clear: both;
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease-in-out 0s, background-color 2s ease 0s;

  li {
    display: block;
  }

  a {
    border-top: 2px dotted #dddbdb;
    color: #333;
    display: block;
    height: 3em;
    line-height: 3em;
    margin: 0 1.3em;
  }

  li:first-child a {
    border-top: 2px solid transparent;
  }

  li a span {
    border-left: 3px solid;
    height: 3.2em;
    padding: 0.4em 0.5em;
    border-color: #f44336;
  }
}

// Footer

footer {
  padding: 15px;
  height: 45px;
  background: #5592c3;
}

.footer-icons {
  float: left;

  div {
    display: inline-block;
    padding: 5px;

    img {
      height: 35px;
    }
  }
}

.about {
  float: right;
  margin-right: 0.6em;

  a,
  a:visited {
    color: white;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
  }
}

// General 

.bottom-img {
  display: block;
  margin: auto;
  max-width: 450px;
}

// Div style for centred button

.centred-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
// Error messages

.errorMessages {
  color: red;
  font-weight: bolder;
}

.warningMessages {
  color: green;
}

.infoMessages .currentUser {
  color: black;
}

.currentUser {
  font-weight: bolder;
}

.successMessages {
  color: navy;
}

.dangerMessages {
  color: violet;
}

// Home page

.home-container {
  display: flex;
  flex-direction: column;
  margin: -10px;
}

.home-event-finder {
  width: 100%;
  background-image: url('../images/top_img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-title-event-finder {
  margin: 52% 20% 2% 20%;
  h2 {
    text-align: left;
  }
}

.home-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40%;

  input {
    background-color: #f3f3f3;
    border: 1px solid #000000;
    border-radius: 30px;
    margin: 0 22%;
    padding: 1%;
  }
}

.home-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4%;
  background-color: #ffffff;
}

.home-title-services {
  h2 {
    text-align: center;
  }
  margin-bottom: 2%;
}

.home-list-services {
  width: 100%;

  .text-service {
    width: 100%;
  }
}

.home-list-services-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.home-icon {
  width: 8%;

  img {
    width: 100%;
  }
}

.home-text-service {
  width: 100%;
  padding-left: 4%;
  margin-bottom: 5%;
  h3 {
    text-align: left;
    color: #5592c3;
  }
}

.home-how-does-it-work {
  width: 100%;
  background-color: #5592c3;
  p {
    color: #ffffff;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-hiw-title {
  text-align: center;
  margin-top: 2%;
  h2 {
    color: white;
  }
}

.home-offer-text-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  p {
    padding: 4%;
    font-size: 1.1rem;
    font-weight: lighter;
  }
}

.home-number-hiw {
  border: 1px solid #000000;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 5% 3% 5% 5%;
  padding: 1% 2%;
  font-size: 1rem;
  text-align: center;
}

.home-testimonials {
  background: linear-gradient(#5592c3, #ffffff);
}

.home-testimonial-title {
  h2 {
    color: #ffffff;
    text-align: center;
    margin: 2% 0 4% 0;
  }
}

.testimonials-text {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 10%;
  p {
    text-align: center;
    margin: 3% auto;
  }
}

.home-joinus {
  width: 100%;
  background-color: #ffffff;

  h2 {
    margin-top: 8%;
    text-align: center;
  }

  .home-button {
    padding-bottom: 0;
  }

  .home-joinus-background {
    height: 30vh;
    background-image: url('../images/buttom_img.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
}

// Events pages

.events {
  list-style-type: none;

  a {
    font-family: 'Quicksand', sans-serif;
  }
}

.events-btns-inline {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  margin-left: -20px;
  padding: 20px;

  div {
    width: 50%;
    align-items: center;

    button {
      min-width: 100px;
    }
  }
}

.candidates {
  display: inline-flex;
  width: 100%;
  margin-left: -20px;
  padding: 20px;
 
    button {
      min-width: 100px;
    }
}

.left {
  width: 10%;
}

.middle {
  width: 60%;
}

.right {
  width: 30%;
  padding-right: 30px;
}

// Set up & Log in

.auth {
  padding-top: 50px;
}


// Error pages 404 & 500

.error-500-404 {
  padding-top: 10px;
  display: block;
  margin: auto;
  height: 400px;
}

.errors {
  text-align: center;

  h1 {
    font-size: 90px;
  }
  p {
    font-size: 25px;
    text-align: center;
  }
}



// Buttons

button {
  border: none;
  background-color: #5592c3;
  border: 1px solid #5592c3;
  border-radius: 15px;
  padding: 4% 3%;
  color: white;
  font-size: 1.2rem;
  margin: 3% 30%;

  a {
    text-decoration: none;
    color: white;
  }
}

.btn-block {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.button-blue {
  text-align: center;
  width: 25%;
  font-size: 15px;
  font-weight: 700;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #5592c3;
  padding: 10px;
  border-radius: 20px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.button-blue:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.button-grey {
  text-align: center;
  width: 25%;
  font-size: 15px;
  font-weight: 700;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #999999;
  padding: 10px;
  border-radius: 20px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.button-grey:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.button-red {
  text-align: center;
  width: 25%;
  font-size: 15px;
  font-weight: 700;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #f44336;
  padding: 10px;
  border-radius: 20px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.button-red:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

// Pets view
.container-view {
  background-color: #f3f3f3;
  padding: 0 10px;
}

.input-font {
  font-size: 1.3rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

.input-container {
  padding: 10px;
}

.pets-container {
  display: flex;
  width: 100%;
}

.img-rounded {
  border-radius: 50%;
}
