<h1>4<img src="images/indifferentCat.jpg">4</h1> 

<h3>The page you are trying to request is not on the server (Error 404), 
    it is possible that the cat has eaten it, or that it has sat on it, these things happen.
     Here are some links to fix it. But do it fast. The cat watches you.<h3>

<a href="/">Home</a>