<img id="error500" src="images/500.png">

<h1 class="notfound">500 error</h1> 

<div class="errors">
    <p>Sorry! Something has gone wrong. An Internal Server Error has occurred. We are working to fix it as soon as possible.
    <p>
    <a href="/"><button>Home</button></a>
</div>