<h1>Add pet:</h1>
<form id="form" action="/pets" method="POST">

    <label for="petType">TYPE</label>
    <input type="text" name="petType" placeholder="Type of your pet" required>
    <br>
    <label for="petWeight">WEIGHT</label>
    <input type="number" name="petWeight" placeholder="Weight of your pet" required>
    <br>
    <label for="petAge">AGE</label>
    <input type="number" name="petAge" placeholder="Age of your pet" required>
    <br>
    <label for="petName">NAME</label>
    <input type="text" name="petName" placeholder="Name of your pet" required>
    <br>



    <button type="submit">Submit</button>

</form>