<div class="home-container">    
    <section class="home-event-finder">
        <div class="home-title-event-finder">
            <h2>Find a pet keeper near you</h2>
        </div>
        <div class="home-form-findkeeper">
            <form class="home-form" action="/searchbar" method="POST">
                <input type="number" name="zipcode" placeholder="Zip code..." required>
                <button type="submit">Search</button>
            </form>
        </div>
    </section>

    <section class="home-services">
        <div class="home-title-services">
            <h2>Services</h2>
        </div>
        <div class="home-list-services">
            <div class="home-list-services-wrapper">
                <div class="home-icon">
                    <img src="../images/suitcase.svg">
                </div>
                <div class="home-text-service">
                    <h3>Pet boarding</h3>
                    <p>Perfect if you need overnight pet care</p>
                </div>
            </div>
            <div class="home-list-services-wrapper">
                <div class="home-icon">
                    <img class="icon" src="../images/home.svg">
                </div>
                <div class="home-text-service">
                    <h3>House sitting</h3>
                    <p>Great if you need overnight pet or house-sitting services</p>
                </div>
            </div>
            <div class="home-list-services-wrapper">
                <div class="home-icon">
                    <img class="icon" src="../images/sun.svg">
                </div>
                <div class="home-text-service">
                    <h3>Day care</h3>
                    <p>Daytime pet care in your sitter's pet friendly home</p>
                </div>
            </div>
            <div class="home-list-services-wrapper">
                <div class="home-icon">
                    <img class="icon" src="../images/eye.svg">
                </div>
                <div class="home-text-service">
                    <h3>Drop-in visits</h3>
                    <p>For check-ins and play dates</p>
                </div>
            </div>
            <div class="home-list-services-wrapper">
                <div class="home-icon">
                    <img class="icon" src="../images/paw.svg">
                </div>
                <div class="home-text-service">
                    <h3>Dog walking</h3>
                    <p>Whenever your dog needs a walk</p>
                </div>
            </div>
        </div>
    </section>


    <section class="home-how-does-it-works">
        <div class="home-hiw-title">
            <h2>How does it works</h2>
        </div>
        <div class="home-offer">
            <div class="home-offer-text-wrapper">
                <div class="home-number-hiw">1</div>
                <p>Create your profile and add your pets</span>
            </div>
            <div class="home-offer-text-wrapper">
                <div class="home-number-hiw">2</div>
                <p>Wait for the keepers to sign up for your event or invite them yourself</p>
            </div>


            <div class="home-offer-text-wrapper">
                <div class="home-number-hiw">3</div>
                <p>Wait for the keepers to sign up for your event or invite them yourself</p>
            </div>
            <div class=" home-offer-text-wrapper">

                <div class="home-number-hiw">4</div>
                <p>Select the keeper who convinces you and assign him/her the tasks</p>
            </div>
        </div>
    </section>

    <section class="home-testimonials">
        <div class="home-testimonial-title">
            <h2>Testimonials</h2>
        </div>
        <div class="testimonials-text">
            <p>"Aupet is a trusted service that offers a second home to your pets when you can't stay with
                them."</p>
            <p>Daenerys Targaryen</p>
            <p>⭐⭐⭐⭐⭐</p>
        </div>
    </section>

    <section class="home-joinus">
        <div class="home-title-wrapper-joinus">
            <h2>Join us</h2>
        </div>
        <div class="home-button">
            <a href="/signup">Sign up</a>
        </div>
        <div class="home-button">
            <a href="/login">Log in</a>
        </div>
        <div class="home-joinus-background">
        </div>
    </section>

</div>