<div class="home">
    <div class="container">
        <nav id="topnav">
            <div class="image-wrpper-logo">
                <a href="/">
                    <img src="images/logo.png">
                </a>
            </div>
        </nav>

        <section id="event-finder">
            {{!-- <div class="image-wrapper-event">
                <img src="../images/top_img.jpg">
            </div> --}}
            <div class="div-form">

                <div class="title-wrapper">
                    <h2>Find a pet keeper near you</h2>
                </div>
                <form id="findkeeper" action="" method="POST">
                    <input id="fkeeper" type="numer" name="keeper" placeholder=" Zip code" required>
                    <button type="submit">Search</button>
                </form>
            </div>
        </section>

        <section id="services">
            <div class="title-wrapper-services">
                <h2>Services</h2>
            </div>
            <div class="list-services">
                <div class="list-services-wrapper">
                    <img class="icon" src="../images/suitcase.svg">
                    <div class="text-services">
                        <h3>Pet boarding</h3>
                        <p>Perfect if you need overnight pet care</p>
                    </div>
                </div>
                <div class="list-services-wrapper">

                    <img class="icon" src="../images/home.svg">
                    <div class="text-services">
                        <h3>House sitting</h3>
                        <p>Great if you need overnight pet or house-sitting services</p>
                    </div>
                </div>
                <div class="list-services-wrapper">
                    <img class="icon" src="../images/sun.svg">
                    <div class="text-services">
                        <h3>Day care</h3>
                        <p>Daytime pet care in your sitter's pet friendly home</p>
                    </div>
                </div>
                <div class="list-services-wrapper">
                    <img class="icon" src="../images/eye.svg">
                    <div class="text-services">
                        <h3>Drop-in visits</h3>
                        <p>For check-ins and play dates</p>
                    </div>
                </div>
                <div class="list-services-wrapper">
                    <img class="icon" src="../images/paw.svg">
                    <div class="text-services">
                        <h3>Dog walking</h3>
                        <p>Whenever your dog needs a walk</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="how-it-works">
            <div class="hiw-title">
                <h2>How does it works</h2>
            </div>
            <div class="offer">
                <div class="offer-text-wrapper">
                    <div class="number-hiw">1</div>
                    <p>Create your profile and add your pets</span>
                </div>
                <div class="offer-text-wrapper">
                    <div class="number-hiw">2</div>
                    <p>Wait for the keepers to sign up for your event or invite them yourself</p>
                </div>


                <div class="offer-text-wrapper">
                    <div class="number-hiw">3</div>
                    <p>Wait for the keepers to sign up for your event or invite them yourself</p>
                </div>
                <div class=" offer-text-wrapper">

                    <div class="number-hiw">4</div>
                    <p>Select the keeper who convinces you and assign him/her the tasks</p>
                </div>
            </div>
        </section>

        <section id="testimonials">
            <h2>Testimonials</h2>
            <p>"Aupet is a trusted service that offers a second home to your pets when you can't stay with
                them."</p>
            <p>Daenerys Targaryen</p>
            <p>⭐⭐⭐⭐⭐</p>
        </section>

        <section id="joinus">
            <div class="title-wrapper-joinus">
                <h2>Join us</h2>
            </div>
            <div class="button">
                <a href="/signup">Sign up</a>
            </div>
            <div class="button">
                <a href="/login">Log in</a>
            </div>
            <img src="images/buttom_img.png">
        </section>
    </div>
    <footer id="footer">
        <div class="images-contact">
            <img class="icon" src="images/instagram.svg">
            <img class="icon" src="images/facebook.svg">
            <img class="icon" src="images/twitter.svg">
        </div>
        <div class="contact">
            <a href="/">Contact</a>
        </div>
    </footer>
</div>