<h1>LOGIN</h1>
<form  id="form" action="/login" method="POST">

    <label for="email">email</label>
    <input type="email" name="email" placeholder="Your email" required>
    <br>
    <label for="password">password</label>
    <input type="password" name="password" placeholder="********" required>

    <button type="submit">LOG IN</button>

</form>
<br>
<p>Don't have an account?</p>
<button><a href="/signup">SIGN UP</button>
