<h1>LOGIN</h1>
<form  id="form" action="/login" method="POST">

    <label for="email">email</label>
    <input type="email" name="email" placeholder="Your email" required>

    <label for="password">password</label>
    <input type="password" name="password" placeholder="********" required>

    <button type="submit">LOGIN</button>

</form>
<p>Don't Have an Account? <a class="button" href="/signup">Signup</a></p>

<a class="button" href="/">home</a></p>
