<h1>SIGN UP</h1>
<form  id="form" action="/signup" method="POST">

    <label for="email">email</label>
    <input type="email" name="email" placeholder="Your email" required>

    <label for="password">password</label>
    <input type="password" name="password" placeholder="********" required>

    <button type="submit">SIGN UP</button>

</form>
<div class="button">
<a href="/login">login</a>
</div>