<h1>{{ pet.petName }} </h1>
<p> Pet type: {{pet.petType }}</p>
<p> Pet weight: {{ pet.petWeight }}</p>
<p> Pet age: {{ pet.petAge }} </p>
{{!-- <button class="enroll"><a href="/">Enroll</button> --}}
<a href="/pets">All my pets</a>