@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font: 28px 'Source Sans Pro', sans-serif;
  box-sizing: border-box; }

h2 {
  color: red;
  font-size: 2rem;
  font-weight: lighter; }

h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: lighter; }

p {
  text-align: left;
  font-size: 1rem;
  font-weight: lighter; }

.errorMessages {
  color: red;
  font-weight: bolder; }

.warningMessages {
  color: green; }

.infoMessages .currentUser {
  color: black; }

.currentUser {
  font-weight: bolder; }

.successMessages {
  color: navy; }

.dangerMessages {
  color: violet; }

.home-container {
  display: flex;
  flex-direction: column; }

.home-event-finder {
  width: 100%;
  background-image: url("../images/top_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.home-title-event-finder {
  margin: 52% 20% 2% 20%; }
  .home-title-event-finder h2 {
    text-align: left; }

.home-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40%; }
  .home-form input {
    border: 1px solid #000000;
    border-radius: 30px;
    margin: 0 22%;
    padding: 1%; }

button {
  border: none;
  background-color: #5592c3;
  border: 1px solid #5592c3;
  border-radius: 15px;
  padding: 4% 3%;
  color: white;
  font-size: 1.2rem;
  margin: 3% 30%; }

.home-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4%; }

.home-title-services {
  margin-bottom: 2%; }
  .home-title-services h2 {
    text-align: center; }

.home-list-services {
  width: 100%; }
  .home-list-services .text-service {
    width: 100%; }

.home-list-services-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2%; }

.home-icon {
  width: 8%; }
  .home-icon img {
    width: 100%; }

.home-text-service {
  width: 100%;
  padding-left: 4%;
  margin-bottom: 5%; }
  .home-text-service h3 {
    text-align: left;
    color: #5592c3; }

.home-how-does-it-works {
  width: 100%;
  background-color: #5592c3;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .home-how-does-it-works p {
    color: #ffffff; }

.home-hiw-title {
  text-align: center;
  margin-top: 2%; }
  .home-hiw-title h2 {
    color: white; }

.home-offer-text-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .home-offer-text-wrapper p {
    padding: 4%;
    font-size: 1.1rem;
    font-weight: lighter; }

.home-number-hiw {
  border: 1px solid #000000;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 5% 3% 5% 5%;
  padding: 1% 2%;
  font-size: 1rem;
  text-align: center; }

.home-testimonials {
  background: linear-gradient(#5592c3, #ffffff); }

.home-testimonial-title h2 {
  color: #ffffff;
  text-align: center;
  margin: 2% 0 4% 0; }

.testimonials-text {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 10%; }
  .testimonials-text p {
    text-align: center;
    margin: 3% auto; }

.home-joinus {
  width: 100%; }
  .home-joinus h2 {
    margin-top: 8%;
    text-align: center; }
  .home-joinus .home-button {
    display: block;
    background: #5592c3;
    margin: 4% 35%;
    border-radius: 15px;
    border: none; }
    .home-joinus .home-button a,
    .home-joinus .home-button a:visited {
      padding: 8% 8%;
      display: block;
      text-align: center;
      text-decoration: none;
      color: white;
      font-size: 1.2rem;
      border-radius: 15px; }
  .home-joinus .home-joinus-background {
    height: 30vh;
    background-image: url("../images/buttom_img.png");
    background-size: contain;
    background-repeat: no-repeat; }

.home-footer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  background: #5592c3;
  padding-top: 2%; }
  .home-footer .home-icon {
    margin: 2%; }

.home-footer-icons {
  display: flex;
  flex-direction: row;
  align-content: start; }

.home-icon.fb {
  width: 4%; }

.contact {
  margin-right: 5%; }
  .contact a,
  .contact a:visited {
    color: white;
    font-size: 1.1rem;
    text-align: left;
    text-decoration: none; }

.error-500-404 img {
  display: block;
  margin: auto; }

#error500 {
  height: 400px; }

.button {
  border-radius: 15px;
  border: none;
  background: #5592c3;
  margin: 1% 30% 1% 30%;
  text-align: center;
  font-size: 2.4rem; }
  .button a,
  .button a:visited {
    padding: 10%;
    display: block;
    color: white;
    text-decoration: none;
    text-align: center; }

header {
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 15px;
  max-width: 500px;
  width: 100%; }
  header div {
    float: left;
    padding: 0 0 0.2em; }
  header a {
    color: #222;
    text-decoration: none; }
  header ul, header li {
    list-style: outside none none; }
  header div#logo img {
    height: 40px;
    margin-left: 0.5em; }

.control-menu {
  background-color: transparent;
  background-position: center center;
  display: block;
  float: right;
  height: 40px;
  margin-right: 0.5em;
  width: 40px; }
  .control-menu a span {
    display: inline-block;
    height: 40px;
    text-indent: -9999px;
    width: 40px; }
  .control-menu .close {
    background-image: url("../images/close.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: none; }
  .control-menu .open {
    background-image: url("../images/open.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: block; }

#navigation:target ul.nav-items {
  font-family: "Raleway",Arial,sans-serif;
  background: #f0f0f0 none repeat scroll 0 0;
  height: 15.8em;
  transition: height 0.4s ease-in-out 0s, background-color 0.9s ease 0s; }

.close {
  display: none; }

#navigation:target .open {
  display: none; }

#navigation:target .close {
  display: block; }

ul.nav-items {
  clear: both;
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease-in-out 0s, background-color 2s ease 0s; }
  ul.nav-items li {
    display: block; }
  ul.nav-items a {
    border-top: 2px dotted #dddbdb;
    color: #333;
    display: block;
    height: 3em;
    line-height: 3em;
    margin: 0 1.3em; }
  ul.nav-items li:first-child a {
    border-top: 2px solid transparent; }
  ul.nav-items li a span {
    border-left: 3px solid;
    height: 3.2em;
    padding: 0.4em 0.5em;
    border-color: #f44336; }

/*# sourceMappingURL=style.css.map */