<h1>List of keeper searched by zip code.</h1>
{{#if keepers}}
<p>found {{keepers.length}} keeper near your ZIP code.</p>
{{#each keepers}}
{{email}}
{{/each}}
{{else}}
<p>We are sorry but we have not located any pet keeper near you.</p>
{{/if}}
<h2>Log in or signup on our website to enjoy all its options</h2>

<button><a href="/login">LOG IN</a></button>
<button><a href="/signup">SIGN UP</a></button>
<button><a href="/">Home</a></button>