{{!-- List of all users --}}
<h1>Keepers list</h1>
<button><a href="/profile">My profile</button>
{{#if users}}
{{#each users}}
{{#if this.email}}
<p>email: {{this.email}}</p>
{{/if}}
{{#if users.img}}
<img src="users.img">
{{/if}}
<a href="users/{{this._id}}">Details</a>

{{/each}}

{{/if}}